<div class="col-3 border-end" style="height: 100vh">
  <div class=" left-sidebars_css">
    <img class="ac-icon" src="/images/icon/Icon.png" alt="AC ICON">
    <input id="homepage" type="radio" name="tab" checked="checked">
    <label for="homepage">
      <a href="/tweets">
        <span>
          <img class="icon" src="/images/basic/white/home.svg" alt="homepage">首頁
        </span>
      </a>
    </label>

    <label for="">
      <input type="checkbox" id="text">
      <a href="/users/followings"><span>
          <img class="icon" src="/images/basic/white/user.svg" alt="personal">
          追隨頁面
        </span></a>
    </label>

    <input id="personal" type="radio" name="tab">
    <label for="personal">
      <a href="/users/tweets">
        <span>
          <img class="icon" src="/images/basic/white/user.svg" alt="personal">
          個人資料
        </span>
      </a>
    </label>

    <input id="cog" type="radio" name="tab">
    <label for="cog">
      <a href="/users/setting">
        <span><img class="icon" src="/images/basic/white/cog.svg" alt="cog">設定</span>
      </a>
    </label>

    <div class="sidebar-lb">
      <a href="/tweets/modal" class="btn tweet-button" id="tweet-button">
        推文
      </a>
    </div>
    <input id="logout" type="radio" name="tab">
    <label for="logout" class="logout">
      <a href="/logout">
        <span>
          <img class="icon" src="/images/basic/logout.svg" alt="logout">登出
      </a>
      </span>
    </label>
  </div>
</div>
