<!-- left-profile-page -->
<nav id="left-home-page" style="display:flex; align-items:stretch; width: 178px; height: 1050px; margin: 0% 5% 3%;">
  <ul class="list-unstyled" style="position:fixed; width: 18%;">
    <img class="mt-2 mb-3" src="/images/icon/Icon.png" alt="AC icon"
      style="height: 40px; width: 40px; border-radius: 0px;margin: 0% 10% 3%;">
    <li style="margin-bottom: 20%;">
      <h6 id="left-home">
        <a href="/tweets" style="text-decoration: none; color: inherit;">
          <img src="/images/icon/blackHome.png" alt="" style="height:24px; width:24px;margin: 0% 10% 3%;">
          首頁
        </a>
      </h6>
    </li>
    <li style="margin-bottom: 20%;">
      <h6 id="left-home">
        <a href="/users/{{user.id}}/tweets" style="text-decoration: none; color: inherit;">
          <img src="/images/icon/orangeProfile.png" alt="" style="height:24px; width:24px; margin: 0% 10% 3%;">
          <span style="color:#FF6600">個人資料</span>
        </a>
      </h6>
    </li>
    <li style="margin-bottom: 20%;">
      <h6 id="left-home">
        <a href="/users/{{user.id}}/setting" style="text-decoration: none; color: inherit;">
          <img src="/images/icon/blackSetting.png" alt="" style="height:24px; width:24px; margin: 0% 10% 3%;">
          設定
        </a>
      </h6>
    </li>

    <li style="margin-bottom: 303px;">
      <h6 id="left-home">
        <a href="/tweets/modal" class="btn tweet-button" id="left-tweet-button" style="width: 180px;margin: 0% 3% 35%;">
          推文
        </a>
      </h6>
    </li>
    <li>
      <h6 id="left-home">
        <a href="/logout" style="text-decoration: none; color: inherit;">
          <img src="/images/icon/logout.png" alt="" style="height: 24px; width: 24px; margin: 0% 10% 3%;">
          <span style="color:#44444F">登出</span>
          </p>
        </a>
      </h6>
    </li>
  </ul>
</nav>