<div class="container">
  <div class="row">
    {{> left-sidebar route="setting"}}
    <div class="col-6 top" style="border-left:1px solid	#E6ECF0;border-right:1px solid	#E6ECF0;">
      <div>
        <div class="home-header">帳戶設定</div>
        <div class="setting-main">
          <form class="form-setting needs-validation novalidate " action="/users/{{user.id}}?_method=PUT"
            name="formSetting" id="formSetting" method="POST">
            <div>
              <label for="account">帳號</label>
              <input type="text" name="editAccount" id="account" placeholder="請輸入帳號" aria-label="User account"
                value="{{user.account}}">
              <span class="invalid-feedback">內容不可空白</span>
            </div>
            <div>
              <label for="name">名稱</label>
              <input type="text" name="editName" id="name" placeholder="請輸入使用者名稱" oninput="userNameCounts()"
                aria-label="User name" maxlength="50" value="{{user.name}}"><span id="nameLengthCount">0/50</span>
            </div>
            <div>
              <label for="email">Email</label>
              <input type="email" name="editEmail" id="email" placeholder="請輸入Email" aria-label="User email"
                value="{{user.email}}">
            </div>
            <div>
              <label for="password">密碼</label>
              <input type="password" name="editPassword" id="password" placeholder="請輸入密碼" aria-label="User password">
            </div>
            <div>
              <label for="checkPassword">密碼確認</label>
              <input type="password" name="editCheckPassword" id="checkPassword" placeholder="請再次輸入密碼"
                aria-label="Confirm user password">
            </div>
            <button type="submit" id="submitBtn" onclick="validTest()">儲存</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-3 left">
    </div>
  </div>
  {{!-- setting function --}}

</div>
<script>

  // 使用者名稱 字數限制 50字
  function userNameCounts() {
    const counts = document.getElementById('name').value.trim().length
    const nameLength = document.getElementById('nameLengthCount')
    nameLength.innerText = counts + '/50'
  }
  //輸入不可為空白
  function validTest() {
    const submitBtn = document.getElementById(submitBtn)
    const formSetting = document.getElementById(formSetting)
    const name = document.getElementById(name)
    const account = document.getElementById(account)
    const email = document.getElementById(email)
    const password = document.getElementById(password)
    const checkPassword = document.getElementById(checkPassword)

    //   submitBtn.addEventListener('click', function onSubmitButtonClicked(event) {
    //     formSetting.classList.add('was-validated')
    //   })

    //   formSetting.addEventListener('submit', function onFormSubmit(event) {
    //     if (!formSetting.checkValidity()) {
    //       event.preventDefault()
    //      event.stopPropagation()
    //    }
    //   })
    //  formSetting.addEventListener("submit", function onFormSubmitted(event) {
    //  event.preventDefault();
    //   event.stopPropagation();
    //   formSetting.querySelectorAll("input").forEach((element) => {
    //    console.log(element)
    //   if (element === '') {

    //     const feedback = element.parentElement.querySelector(".invalid-feedback");
    //    feedback.textContent = element.validationMessage;
    //     }

    //    });  });
    //submitBtn.addEventListener('click', function clickCheck(event) {
    //  if (name || account || email || password || checkPassword === '') {
    //   formSetting.classList.add('was-validated')
    // }
    // })
  }

</script>